<<<<<<< HEAD
=======
/*<<<<<<< HEAD*/
>>>>>>> 3fad77f72253ef85567d68e3be29c726c5cbf4f5
@import 'bootstrap/dist/css/bootstrap.min.css';

.navbar {
    background-color: rgb(7, 160, 147);
    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;
    padding: 0rem;
<<<<<<< HEAD
}

.logo{
    height: 4rem;
}

/* HOME  */

=======
}

    .logo {
    height: 6rem;
/*>>>>>>> de105c219db6a45ffa283c2a52375b7386ebe858*/
}






/* HOME  
.home {
<<<<<<< HEAD
   
}*/
>>>>>>> 3fad77f72253ef85567d68e3be29c726c5cbf4f5

#dropdown-basic-button
{
    color: black;

}
<<<<<<< HEAD
=======


/*
=======
    display: flex;
}
>>>>>>> de105c219db6a45ffa283c2a52375b7386ebe859*/
>>>>>>> 3fad77f72253ef85567d68e3be29c726c5cbf4f5
